* {
  margin: 0;
}

body {
  background-color: #2b2b2b;
}

.covidT {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.app__header > h1 {
  color: #fff;
  font-size: 2rem;
}

.app__dropdownTitle {
  margin-top: -15px;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .covidT {
    flex-direction: column;
  }
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
}
